.dashboard-bg {
    min-height: 100%;
    min-width: 100%;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#F1F3F8;
  
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.center-nav-link {
    position: relative;
    justify-content: center;
    display: flex;

    padding-left: 30%;
    padding-right: 40%;
}

.title-nav {
    position: fixed;
    left: -1vw;
    right: 0;
    max-width: 100%;
    min-width: 100vw;
    height: 10%;
    z-index: 3;
    color: #B1B6C6;
}

.logo-bg {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 13.1%;
    min-height: 10%;
    height: 100%;
    background: #FBAD97;
}

.grey-title {
    color: #B1B6C6;
}
