.sign-up-bg {
    /* FIX CSS */
    max-width: 50%;
    min-height: 100%;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(141.68deg, #FAD7A1 -27.76%, #FD6585 103.99%);
  
    position: fixed;
    top: 0;
    z-index: -1;
}
.right-container {
    right: 0;
    max-width: 50%;
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;

    top: 0;
    z-index: -1;
}

.bottom-divider {
    border-bottom: 0.1px solid !important;
    opacity: 30%;
    color: lightgrey !important;
    padding-top: 5% !important;
}

.btn-fix {
    padding: 0;
    border: none;
    white-space: normal;
}

.sign-up-full-bg {
    height: 100vh;
    width: 100vw !important;
    background-image: linear-gradient(141.68deg, #FAD7A1 -27.76%, #FD6585 103.99%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-header {
    font-weight: bold;
}

.btn-sign-in {
    width: 25%;
    font-weight: bold !important;
}

.padding {
    padding-top: 1rem;
}
.sign-up-header {
    z-index: 2;
    font-weight: bold;
    color: DimGrey;
}

.input-borders:focus {
    color: #FD6585 !important;
}

