$enable-gradients: true;
$enable-rounded: true;
$enable-transitions: true;
$enable-responsive-font-sizes: true;

$primary: #FE838E!default;
$primary-hover: #FD6585 !default;
$secondary: #9C80F5!default;
$success: #63E3D5 !default;
$warning: #FC9A49 !default;
$light: #EEF1F5 !default;
$gray: #B0B4C3 !default;

$link-color: $primary !default;


$embed-responsive-aspect-ratios: (
(20, 5),
  (21 9),
  (16 9),
  (4 3),
  (1 1)
) !default;


.btn-primary, .btn-success, .btn-secondary, .btn-warning {
    color: white !important;
}

.btn-outline-light:hover {
    color: $gray !important;
}

.btn-outline-gray:hover {
    color: white !important;
}

.btn-outline-primary:hover {
    color: white !important;
} 
.card:hover {
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.15);
}

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "warning":    $warning,
    "light":      $light,
    "gray":       $gray
) !default;

@import '~bootstrap/scss/bootstrap';
@import "bootstrap";